{% load staticfiles %}
{% load static from staticfiles %}
<!-- Do NOT put any DOCTYPE here unless you want problems in IEs. -->
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>{%  block title %}{% endblock %}</title>
    <!-- Importing Extjs library -->

    {% if not settings.EXT5_DEBUG_MODE %}
        <script type="text/javascript" src="{{ settings.STATIC_URL }}ext5-workspace/ext/build/ext-all.js"></script>

        <script type="text/javascript" src="{{ settings.STATIC_URL }}ext5-workspace/build/production/{{ app_path }}/app.js?v={{ settings.VERSION }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}ext5-workspace/build/production/{{ app_name }}/resources/{{ app_name }}-all.css?v={{ settings.VERSION }}">

        {% block build %}
        {% endblock %}
    {% endif %}

    {% if settings.EXT5_DEBUG_MODE %}
        <script type="text/javascript" src="{{ settings.STATIC_URL }}ext5-workspace/ext/build/ext-all-debug.js"></script>

        <script type="text/javascript" src="{{ settings.STATIC_URL }}ext5-workspace/{{ app_path }}/app.js?v={{ settings.VERSION }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ settings.STATIC_URL }}ext5-workspace/build/development/{{ app_name }}/resources/{{ app_name }}-all.css?v={{ settings.VERSION }}">

        {% block debug %}
        {% endblock %}
    {% endif %}

    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/csrf.js?v={{ settings.VERSION }}"></script>

    {% block head %}
    {% endblock %}

</head>

<body>
{% block content %}
{% endblock %}
</body>

</html> 
